<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-start">
        <p>This project aims to partice the following basic topics in Angular:</p>
        <ul>
          <li>Components</li>
          <li>Templates, interpolation, and directives</li>
          <li>Data binding & pipes</li>
          <li>Services and dependency injection</li>
          <li>Retrieving data using HTTP</li>
          <li>Navigation and routing</li>
          <li>Module</li>
          <li>Building, testing and deploying with CLI</li>
        </ul>
      </div>
  </div>
</div>
